In [2]:
# What is Python, and why is it popular?
#Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. It was created by Guido van Rossum during 1985- 1990.

#2. What is an interpreter in Python?
#Interpretors are programs that execute Python Code directly.

#3. What are pre-defined keywords in Python?
#Predefined keywords are are set of words that holds a special meaning and purpose. Ex: while, else etc

#4. Can keywords be used as variable names?
# No.

#5. What is mutability in Python?
# Mutability is the ability to modify anything after its creation. List is mutable.

#6. Why are lists mutable, but tuples are immutable?
# list can store any type of data in ordered collection so it is mutable. Tuples can also store hetrogeneous data but in daily life there are elements which should not be modified, there we can use tuples.

#7. What is the difference between “==” and “is” operators in Python?
# == is a comparision operator. "is" is an identity operator.

# 8.  What are logical operators in Python?
#  and or

#9. What is type casting in Python?
# typecasting means to change the format of a element or container.

#10. What is the difference between implicit and explicit type casting?
# Implicit typecasting is done manually like adding a float and integer whereas explicit typecasting is done manually.

#11. What is the purpose of conditional statements in Python?

# 12. How does the elif statement work?
# elif statement checks multiple conditions sequentially.

#13. What is the difference between for and while loops?
# while: repeatedly executes a block of code until a condition is true. For: iterate over a sequece of element i,e. string list

#14. Describe a scenario where a while loop is more suitable than a for loop.
# While loop is used when the number of iteration is unknown whereas for loop is used when the exact number is known.

In [3]:
print(Hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-3-50b4ae29d403>, line 1)

In [4]:
print("Hello World")

Hello World

In [11]:
# 1. 0 Write a Python program that displays your name and age

d

SyntaxError: invalid syntax (<ipython-input-11-687858ed6ea2>, line 3)

In [12]:
# 2. Write a Python program that displays your name and age

d = {"name":"Purbita","age":"27"}
d

{'name': 'Purbita', 'age': '27'}

In [13]:
# 3. Write code to print all the pre-defined keywords in Python using the keyword library?

help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [14]:
# 4. Write a program that checks if a given word is a Python keyword?

True = "diya"
print(True)

SyntaxError: cannot assign to True (<ipython-input-14-a6ccf16bbd5f>, line 3)

In [16]:
# 5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each?

list1 = [1, 2, 3, "purbita", "apple"]
list1

[1, 2, 3, 'purbita', 'apple']

In [17]:
list1.append("banana")
list1

[1, 2, 3, 'purbita', 'apple', 'banana']

In [18]:
tuple1 = (1, 2, 3, "apple", "banane")
tuple1

(1, 2, 3, 'apple', 'banane')

In [19]:
tuple1.append("mango")

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
# 6. Write a function to demonstrate the behavior of mutable and immutable arguments.

list1 = [1, 2, 3, "purbita", "apple"]
list1

[1, 2, 3, 'purbita', 'apple']

In [21]:
tuple1 = (1, 2, 3, "apple", "banane")
tuple1

(1, 2, 3, 'apple', 'banane')

In [22]:
tuple1.append("mango")

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
# Write a program to demonstrate the use of logical operators.

print(3>2 and 5<10)

True

In [25]:
print(3<2 and 5<10)

False

In [24]:
print(5<2 or 7>5)

True

In [27]:
# Write a Python program to convert user input from string to integer, float, and boolean types.

a = ("1")
type(a)

str

In [28]:
a = (1)
type(a)

int

In [29]:
a = (1+2.2)
type(a)

float

In [31]:
a = "2"
b = 3
int(a)+b

5

In [30]:
# Write code to demonstrate type casting with list elements

In [37]:
list2 = ["apple", "1", "mango"]
list2[1]

'1'

In [41]:
# Write a program that checks if a number is positive, negative, or zero.

number = float(input("Enter a number:  "))
if number > 0:
  print("Positive Number")
elif number < 0:
  print("Negetive Number")
else:
  print("The number is 0")

Enter a number:  2
Positive Number

In [1]:
#  Write a for loop to print numbers from 1 to 100

a= 1
b = 10
while a <= b:
  print(a)
  a= a+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to find the sum of all even numbers between 1 and 50

In [2]:
sum_of_even = 0
for i in range(2,51,2):
    sum_of_even += i
print(sum_of_even)

650

In [3]:
# Write a program to reverse a string using a while loop

a= ("Hello world")
a[::-1]

'dlrow olleH'